<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="public\css\theme.css" type="text/css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Margaret Chum</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
					<header>
						<h3>Tables</h3>
					</header>
					<caption> Food List </caption>
					<table border="1">						
						<thead>
							<tr>
								<th>Food</th>
								<th>Country</th>
								<th>Quantity</th>
								<th>Amount</th>
							</tr>		
						</thead>
						<tbody>
							<tr>
								<td>Candy</td>
								<td rowspan="2">Hong Kong</td>
								<td>10</td>
								<td>$5</td>
							</tr>
							<tr>
								<td>Chips</td>
								<td>20</td>
								<td>$7</td>
							</tr>
							<tr>
								<td>Chocolate</td>
								<td>Japan</td>
								<td>15</td>
								<td>$9</td>
							</tr>
							<tfoot>
								<tr>
									<td colspan = "2"> Total</td>
									<td>45</td>
									<td>$325</td>
								</tr>
							</tfoot>
						</tbody>
					</table>
					<caption> Drink List </caption>
					<table border="1">						
						<thead>
							<tr>
								<th>Drink</th>
								<th>Country</th>
								<th>Quantity</th>
								<th>Amount</th>
							</tr>		
						</thead>
						<tbody>
							<tr>
								<td>Coke</td>
								<td>Canada</td>
								<td>24</td>
								<td>$2</td>
							</tr>
							<tr>
								<td>Orange Juice</td>
								<td>UK</td>
								<td>22</td>
								<td>$5</td>
							</tr>
							<tr>
								<td>Beer</td>
								<td>Japan</td>
								<td>10</td>
								<td>$9</td>
							</tr>
							<tfoot>
								<tr>
									<td colspan = "2"> Total</td>
									<td>56</td>
									<td>248</td>
								</tr>
							</tfoot>
						</tbody>
					</table>

					<p>This is table section about food and drink.</p>

					<hr>
					<header>
						<h3>Lists</h3>
					</header>
					<ul>
						<li value="Apple">Apple</li>
						<li value="Orange">Orange</li>
						<li value="Banana">Banana</li>
						<li value="Pear">Pear</li>
						<li value="SB">Strawbarry</li>
					</ul>
				
					<ol reversed>
						<li value="Apple">Apple</li>
						<li value="Orange">Orange</li>
						<li value="Banana">Banana</li>
						<li value="Pear">Pear</li>
						<li value="SB">Strawbarry</li>
					</ol>
				
					<ol type = "i">
						<li value="Apple">Apple</li>
						<li value="Orange">Orange</li>
						<li value="Banana">Banana</li>
						<li value="Pear">Pear</li>
						<li value="SB">Strawbarry</li>
					</ol>
					<p>This is list section with unorder, descending number and ascending number for fruits. </p>
					<hr>
					<header>
						<h3>Images</h3>
					</header>
					<image src="https://i.pinimg.com/564x/d2/68/e2/d268e2c4db37fa2829968419ebca1204.jpg" alt="Totoro" height ="200"></image>
					<image src="https://i.pinimg.com/564x/da/0c/74/da0c74391f4d728f322c8e6ec43241d0.jpg" alt="Ducks" height ="200"></image>
					<image src="https://i.pinimg.com/564x/eb/89/f1/eb89f11855371489e51744b1640ddf1b.jpg" alt="Kirby" height ="200"></image>
					
					<p>This is images section include 3 pictures found on Printerest </p>

					<hr>
					<header>
						<h3>Audio</h3>
					</header>
					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
						<p>Sorry, your browser doesn't support HTML5 audio. Here is a <a href="song.mp3">link to the audio</a> instead</p>.
					</audio>
					<p>This is audio section include control audio with mp3 and ogg format. It also include a statement of the computer cannot support neither format. </p>
					<hr>
					<header>
						<h3>Video</h3>
					</header>
					<video width="'320" height=""240" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">					
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
						<p>Sorry, your browser doesn't support HTML5 video</p>
					</video>
					<p>This is video section include control video with mp4,ogg and webm format. It also include a statement of the computer cannot support neither format. </p>
					<!-- End your code here  -->
				</main>
			</div>
		</div>
		<footer>
			<p>End of Assignment 3</p>
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>