<div class="row">
    <div class="col-md-12">
          <br>
          <h2 style="text-align:left">Students</h2>
          <hr />

          <p>
            
            <ul>
                {{#each data}}
                <li>{{firstName}} {{lastName}}</li>
                <br>
                {{/each}}
            </ul>
            
          </p>

    </div>
</div>
